header{
    background-image: url(../assets/Hero-bg.png);
    width: 100%;
    height: 700px;
}
/* nav style */
.nav-banner{
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding: 0 40px 0 40px;
}
.nav-action{
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding: 0 40px 0 40px;
    margin: 140px 135px;

}
.nav-log{
    font-size: 34px;
}
.img{
    width: 300px;
    border-radius: 50px;
}

/* div style */
.action-1{
    text-align: center;
    padding: 100px 0px 150px 0px;
}
.div-dec{
    font-size: 65px;
    font-weight: bold;
    text-align: center;
}
.action{
    justify-content: center;
    align-items: center;
    
}
/* main style */
.title{
    font-size: 42px;
    font-weight: bold;
}
.act-dec{
    font-size: 24px;
    font-weight: 100;
}
.user{

}
.user-title{
    font-size: 38px;
    font-weight: bold;
}

/* shear style */

.btn{
    background-color: #4E47FF;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    padding: 15px 30px;
    border-radius: 10px;
    border: none;
}

.clr-1{
    color: #4E47FF;
}
.clr-2{
   color: #252432;
}
.clr-3{
    color: #FFFFFF;
}


