header{
    background-image: url(../assets/Hero-bg.png);
    width: 100%;
    height: 700px;
}
/* nav style */
.nav-banner{
    display: flex;
    align-items: center; 
    justify-content: space-between;
    padding: 20px 130px;
}
.nav-action{
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding: 0 60px 0 60px ;
    margin: 140px 135px;

}
.nav-log{
    font-size: 34px;
}
.img{
    width: 300px;
    border-radius: 50px;
}

/* div style */
.action-1{
    text-align: center;
    padding: 100px 100px;
}
.div-dec{
    font-size: 65px;
    font-weight: bold;
    text-align: center;
}
.action{
    justify-content: center;
    align-items: center; 
}

/* main style */
.title{
    font-size: 42px;
    font-weight: bold;
}
.act-dec{
    font-size: 24px;
    font-weight: 100;
    color: rgba(0, 0, 0, 0.5);
    gap: 40px;
}
.user{
    background-color: rgba(78, 71, 255, 0.1);
    margin: 60px 200px;
    border-radius: 25px;
    padding: 20px 30px;
}
.about-usr{
    display: flex;
    justify-content: space-around;
    gap: 50px 10px;
}
.about-user{
    
}
.user-amount{
    font-size: 80px;
    font-weight: bold;
    margin-top: 0px;
}
.user-title{
    font-size: 38px;
    font-weight: bold;
    text-align: center;
}
.user-type{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
    margin-top: -80px;
}
/* about user review */

.user-review{
    gap: 20px;
    margin: 140px 135px;

}
.review{
    display: flex;
    justify-content: space-around;
    padding: 25px;
    gap: 20px;
}
.abt-review{
    padding: 24px;
    box-shadow: 0px 10px 20px 0px #7e7171;
    border-radius: 20px;
    height: 245px;
    width: 365px;
}
.rev-info{
    display: flex;
    gap: 20px;
}

.rev-title1{
   text-align: center;
}
.rev-title{
    font-size: 24px;
    font-weight: 600;
    color: #1E1E1E;
}
.rev-dec{
    font-size: 16px;
    color: #1E1E1E;
}


.rev-image{
    border-radius: 50px;
    height: 40px;
    width: 40px;
    margin-top: 20px;
}

.rev-name{
    font-size: 16px;
    color: #757575;
}
.date{
    font-size: 16px;
    color: #B3B3B3;
    margin-top: -10px;
}
/* massage */
.massage{
    padding: 0px 70px;
    display: flex;
    margin: 90px 150px 20px 150px;
    justify-content: center;
    height: 632px;
    width: px;
    gap: 150px;
}
.massage.clm{
    gap: 20px;
    height: 490px;
    width: 495px;
}
input[type="text"] {
    height: 70px;
    width: 490px;
    border-radius: 10px;
    background-color: #f8f6f6;
    display: block;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
    padding: 10px 10px;
    margin-bottom: 20px;  
    border: none;
    gap: 10px;
}
input[type="email"] {
    height: 70px;
    width: 490px;
    border-radius: 10px;
    background-color: #f8f6f6;
    display: block;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
    padding: 10px 10px;
    margin-bottom: 20px;
    border: none;  
    gap: 10px;
} 
textarea{
    height: 135px;
    width: 490px;
    border-radius: 10px;
    background-color: #f8f6f6;
    display: block;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
    padding: 20px 30px;
    margin-bottom: 20px; 
    border: none; 
}

.msg-title{
font-size: 97px;
font-weight: bold;
display: flex;
height: 200px 115px 200px opx;
}

footer{
    text-align: center;
    width: 100%;
    background-color: rgb(248, 246, 246);
    justify-items: center;
    padding: 10px  50px;
}
.footer{
    width: 530px;
    height: 220px;
    margin: 105px 405px;
    justify-content: center;
    
}
.f-logo{
    font-size: 100px;
    margin-right: 50px;
}
.f-dec{
    font-size: 16px;
    color: #8987A1; 
    margin-top: -30px;
    margin-right: 50px;
}
.f-li{    
    list-style: none;
    display: flex;
    gap: 10px;
    justify-items: center;
}
.f-li a{
    text-decoration: none;
    font-size: 16px;
    color: rgba(137, 135, 161, 1);
    margin-right: 50px;
}

/* shear style */
.btn{
    padding:15px 30px;
    border: none;
    outline: none;
    color: #FFFFFF;
    cursor: pointer;
    position: relative;
    z-index: 0;
    outline: none;
    border-radius: 12px;
    font-size: 16px;
    background-color: #4E47FF;
    box-shadow: 0 9px rgb(13, 1, 24);
}
.btn:hover{
    background-color: rgb(13, 1, 24);
}

.clr-1{
    color: #4E47FF;
}
.clr-2{
   color: #252432;
}
.clr-3{
    color: #FFFFFF;
}


